@model Customer
@{
    ViewData["Title"] = "NotFoundCustomer";
}

<h1>NotFoundCustomer</h1>



<td>
    <a asp-action="GetAllCustomers"
       asp-controller="Customer"
       class="btn btn-outline-primary">All Customers  </a>
</td>
